/*
 услуги
 */
.provider {
    padding: 0 90px; 
}
.provider_text {
    font-family: 'OpenSans';
    font-weight: bold;
    text-transform: uppercase;
    font-size: 49px;
    margin-top: 25px;
    margin-bottom: 45px;
 }
.provider_list {
    text-decoration: none;
    padding: 0;
    margin-left: -60px;
 }
.provider_item {
    display: inline-block;
    width: 250px;
    margin-left: 60px;
    vertical-align: top;
}
.provider_img {
    width: 250px;
    height: 150px;
    background: #221f1f;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
}
.provider_img-pic {
    width: 100%;
    opacity: .52;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.provider_img-text {
    font-size: 24px;
    font-family: "OpenSans";
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    text-align: center;
}
.services__title {
    font-weight: bold;
    color: #221f1f;
    font-size: 18px;
    margin-bottom: 18px;
}
.provider_info {
    margin-bottom: 50px;
    color: #221f1f;
    font-size: 14px;
    font-weight: 300;
}

/* партнеры */
.partners {
    margin: 0;
    padding: 0;
    list-style: none;
}
.partners_list {
    float: left;
    width: 270px;
    height: 75px;
    margin-right: 20px;
    margin-bottom: 40px;
}
.partners_item {
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    transition: 1s;
    
}
.partners_item:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    transition: 1s;
}
.partners_img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
     transform: translateY(-50%);
     -webkit-transform: translateY(-50%);
     left: 50%;
    transform: translate(-50%, -50%);
}

